$baseline: 26px;
$original-width: 640px;
$original-height: 1136px;
$iphone-width: 320px;
$iphone4-height: 480px;
$iphone5-height: 568px;
$iphone6-width: 375px;
$iphone6-height: 667px;
$iphone6plus-width: 414px;
$iphone6plus-height: 736px;