@charset "UTF-8";
@import "compass/reset";
@import "compass/css3";
@import "_variables";
@import "_functions";

html {
  font-size: $baseline;
}
@media (max-width: $iphone-width)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {
  html {
    font-size: getReSize($baseline, $iphone-width / $original-width);
  }
}
@media (min-width: $iphone6-width)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {
  html {
    font-size: getReSize($baseline, $iphone6-width / $original-width);
  }
}
@media (min-width: $iphone6plus-width)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {
  html {
    font-size: getReSize($baseline, $iphone6plus-width / $original-width);
  }
}

@media (min-width: $iphone4-height)
  and (max-height: $iphone4-height)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {
  html {
    font-size: getReSize($baseline, $iphone4-height / $original-width);
  }
}
@media (min-width: $iphone5-height)
  and (max-height: $iphone5-height)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {
  html {
    font-size: getReSize($baseline, $iphone5-height / $original-width);
  }
}
@media (min-width: $iphone6-height)
  and (max-width: $iphone6-height)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {
  html {
    font-size: getReSize($baseline, $iphone6-height / $original-width);
  }
}
@media (min-width: $iphone6plus-height)
  and (max-width: $iphone6plus-height)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {
  html {
    font-size: getReSize($baseline, $iphone6plus-height / $original-width);
  }
}


#container {
  width: getRem($baseline, $original-width);
  height: getRem($baseline, $original-height);
  position: relative;
  background:
    url(../img/star.png) no-repeat center top,
    url(../img/bg01.png) no-repeat center;
  background-size: contain;
  position: relative;
}

#stars {
  top: 0;
  z-index: 1;
  position: absolute;
  width: getRem($baseline, 591px);
  height: getRem($baseline, 625px);
  @include animation(blink 300ms linear infinite alternate);
}

#logo {
  width: getRem($baseline, 568px);
  height: getRem($baseline, 434px);
  position: relative;
  top: getRem($baseline, 63px);
}

#animal {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  div {
    display: inline-block;
    position: absolute;
  }
  #left, #middle, #right {
    position: relative;
  }
  img.penguins {
    position: relative;
    @include animation(jumping 150ms linear infinite alternate);
  }
  img.shadow {
    position: absolute;
    bottom: 0;
    @include animation(shadow 150ms linear infinite alternate);
  }
  #left {
    left: getRem($baseline, 30px);
    bottom: getRem($baseline, 300px);
    img {
      width: getRem($baseline, 150px);
      height: getRem($baseline, 176px);
    }
  }
  #middle {
    left: getRem($baseline, 30px);
    bottom: getRem($baseline, 126px);
    .penguins {
      width: getRem($baseline, 260px);
      height: getRem($baseline, 266px);
    }
    .shadow {
      left: getRem($baseline, 122px);
      width: getRem($baseline, 102px);
      height: getRem($baseline, 15px);
    }
    .blink {
      position: absolute;
      bottom: getRem($baseline, 80px);
      right: getRem($baseline, 16px);
      width: getRem($baseline, 245px);
      height: getRem($baseline, 228px);
      @include animation(blink 150ms linear infinite alternate);
    }
  }
  #right {
    bottom: getRem($baseline, 300px);
    .penguins {
      width: getRem($baseline, 204px);
      height: getRem($baseline, 193px);
    }
    .shadow {
      left: getRem($baseline, 45px);
      width: getRem($baseline, 105px);
      height: getRem($baseline, 13px);
    }
  }
}

.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

@include keyframes(jumping) {
  from { bottom: 0px; }
  to { bottom: 25px; }
}
@include keyframes(shadow) {
  from { @include transform(scaleX(1)); }
  to { @include transform(scaleX(.6)); }
}
@include keyframes(blink) {
  0% { opacity: 0; }
  100% { opacity: 1; }
}