@charset "UTF-8";
@import "compass/reset";
@import "compass/css3";
@import "variables";

body {
  width: $original-width;
  height: $original-height;
  background: url(../img/bg01.png) no-repeat;

  #stars {
    position: absolute;
    top: 8em;
    left: 1.5em;
    z-index: -1;
    @include animation-name(blink);
    @include animation-duration(150ms);
    @include animation-timing-function(linear);
    @include animation-direction(alternate);
    @include animation-iteration-count(infinite);
  }
}

#content {
  height: calc(100% - 130px);
  #logo {
    text-align: center;
    padding-top: 70px;
  }
  #animal {
    div {
      display: inline-block;
      position: relative;
      img.penguins {
        position: relative;
        @include animation-name(jumping);
        @include animation-duration(150ms);
        @include animation-timing-function(linear);
        @include animation-direction(alternate);
        @include animation-iteration-count(infinite);
      }
      img.shadow {
        position: absolute;
        bottom: 0;
        z-index: -1;
        @include animation-name(shadow);
        @include animation-duration(150ms);
        @include animation-timing-function(linear);
        @include animation-direction(alternate);
        @include animation-iteration-count(infinite);
      }
    }
    #left {
      left: 60px;
      top: -75px;
      img.shadow {
        left: 5px;
      }
    }
    #middle {
      left: 40px;
      top: 105px;
      img {
        &:first-child {
          position: absolute;
          left: 0px;
          top: -25px;
          @include animation-name(blink);
          @include animation-duration(150ms);
          @include animation-timing-function(linear);
          @include animation-direction(alternate);
          @include animation-iteration-count(infinite);
        }
        &:last-child {
          left: 115px;
        }
      }
    }
    #right {
      right: 0px;
      top: -70px;
      img.shadow {
        left: 45px;
      }
    }
  }
}

@include keyframes(jumping) {
  from {
    top: 0px;
  }
  to {
    top: -25px;
  }
}
@include keyframes(shadow) {
  from {
    width: auto;
  }
  to {
    width: 35%;
  }
}
@include keyframes(blink) {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@media (min-width: $iphone6-height)
  and (max-width: $iphone6-height)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {
  body {
    width: 100%;
    height: 100%;
    background: url(../img/bg01.png) no-repeat center;
    background-size: cover;
  }
  #header {
    img {
      min-width: $iphone6-height;
    }
  }
}

@media (min-width: $iphone6plus-height)
  and (max-width: $iphone6plus-height)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {
  body {
    width: 100%;
    height: 100%;
    background: url(../img/bg01.png) no-repeat center;
    background-size: cover;
  }
  #header {
    img {
      min-width: $iphone6-height;
    }
  }
}