@charset "UTF-8";
@import "compass/css3";
@import "_functions";
@import "_variables";

#lightbox {
  position: absolute;
  top: 0;
  width: 100%;
  height: getRem($baseline, $original-height);
  background: url(../img/overlay.png) repeat;
  display: flex;
  @include align-items(center);
  @include justify-content(center);

  @include transition(opacity 1s);
}

.popup {
  position: relative;
  width: getRem($baseline, 536px);
  height: getRem($baseline, 530px);
  border-radius: getRem($baseline, 20px);
  border: getRem($baseline, 4px) solid #2a5f0a;
  background-color: #9ADD7B;
  display: flex;
  @include align-items(center);
  @include justify-content(center);
  @include animation(bounceIn 0.5s 1);

  #popup-closeBtn {
    display: inline-block;
    width: getRem($baseline, 94px);
    height: getRem($baseline, 94px);
    position: absolute;
    right: getRem($baseline, 10px);
    top: getRem($baseline, 10px);
    background: url(../img/close.png) no-repeat;
    background-size: contain;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }

  .popup-profile {
    text-align: center;
    display: block;
    margin-bottom: getRem($baseline, 36px);
    img {
      margin-bottom: getRem($baseline, 10px);
      width: getRem($baseline, 106x);
      height: getRem($baseline, 106px);
    }
    p {
      color: #FFF;
      font-size: getRem($baseline, 30px);
    }
  }
  .popup-text {
    width: 100%;
    font-size: getRem($baseline, 24px);
    color: #245a05;
    line-height: getRem($baseline, 42px);
    padding: 0 getRem($baseline, 40px);;
    box-sizing: border-box;
  }
}

.null-opacity {
  opacity: 0;
}

@include keyframes(bounceIn) {
  from { @include transform(scale(.2, .2)); }
  to { @include transform(scale(1, 1)); }
}