@charset "UTF-8";
@import "compass/reset";
@import "_functions";
@import "_variables";

#container {
  display: block;
  margin: 0 auto;
  width: getRem($baseline, $original-width);
  height: getRem($baseline, $original-height);
  background: #8AD160 url(../img/title.png) no-repeat center top;
  background-position-y: getRem($baseline, 60px);
  background-size: contain;
}

#content {
  position: relative;
}

#content-title {
  display: block;
  width: 100%;
  height: getRem($baseline, 526px);
}

.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.profile {
  display: block;
  height: getRem($baseline, 106px);
  line-height: getRem($baseline, 106px);
  padding-left: getRem($baseline, 40px);
  .profile-photo {
    vertical-align: middle;
    width: getRem($baseline, 106px);
    height: getRem($baseline, 106px);
  }
  .profile-name {
    color: #fff;
    line-height: getRem($baseline, 106px);
    font-size: getRem($baseline, 30px);
  }
}

.message {
  position: relative;
  p {
    display: inline-block;
    color: #245a05;
    font-weight: 500;
    font-size: getRem($baseline, 24px);
    line-height: getRem($baseline, 40px);
    height: getRem($baseline, 140px);
    padding: getRem($baseline, 10px) getRem($baseline, 40px) 0;
  }
  .more-btn {
    display: inline-block;
    position: absolute;
    right: getRem($baseline, 50px);
    bottom: 0;
    cursor: pointer;
    width: getRem($baseline, 171px);
    height: getRem($baseline, 55px);
  }
}