@charset "UTF-8";
@import "compass/reset";
@import "variables";
@import "function";

#container {
  display: block;
  margin: 0 auto;
  width: $original-width;
  height: auto;
  background: #8AD160 url(../img/title.png) no-repeat center;
  background-position-y: 25%;
  background-size: contain;
}

#content {
  position: relative;
}

#content-title {
  display: block;
  width: 100%;
  height: 420px;
}

.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.comment-section {
  padding-bottom: 2em;
}

.profile {
  display: block;
  height: 106px;
  line-height: 106px;
  padding-left: 40px;
  .profile-photo {
    vertical-align: middle;
  }
  .profile-name {
    color: #fff;
    line-height: 106px;
    font-size: 30px;
  }
}

.message {
  position: relative;
  p {
    display: inline-block;
    color: #245a05;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.8em;
    height: 140px;
    padding: 0.5em 1.5em;
  }

  .more-btn {
    display: inline-block;
    position: absolute;
    right: 50px;
    bottom: 0;
    cursor: pointer;
  }
}

@media (max-width: $iphone-width)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {
  #container {
    width: $iphone-width;
  }
  #content-title {
    height: getResponsiveSize(420px, ($iphone-width / $original-width));
  }
  .profile {
    height: getResponsiveSize(106px, ($iphone-width / $original-width));
    line-height: getResponsiveSize(106px, ($iphone-width / $original-width));
    padding-left: getResponsiveSize(40px, ($iphone-width / $original-width));
    .profile-photo {
      width: getResponsiveSize(106px, ($iphone-width / $original-width));
      height: getResponsiveSize(106px, ($iphone-width / $original-width));
    }
    .profile-name {
      line-height: getResponsiveSize(106px, ($iphone-width / $original-width));
      font-size: getResponsiveSize(30px, ($iphone-width / $original-width));
    }
  }
  .message {
    p {
      font-size: getResponsiveSize(24px, ($iphone-width / $original-width));
      height: getResponsiveSize(140px, ($iphone-width / $original-width));
    }
    .more-btn {
      width: getResponsiveSize(171px, ($iphone-width / $original-width));
      height: getResponsiveSize(55px, ($iphone-width / $original-width));
      right: getResponsiveSize(50px, ($iphone-width / $original-width));
    }
  }
}

@media (min-width: $iphone6-width)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {
  #container {
    width: $iphone6-width;
  }
  #content-title {
    height: getResponsiveSize(420px, ($iphone6-width / $original-width));
  }
  .profile {
    height: getResponsiveSize(106px, ($iphone6-width / $original-width));
    line-height: getResponsiveSize(106px, ($iphone6-width / $original-width));
    padding-left: getResponsiveSize(40px, ($iphone6-width / $original-width));
    .profile-photo {
      width: getResponsiveSize(106px, ($iphone6-width / $original-width));
      height: getResponsiveSize(106px, ($iphone6-width / $original-width));
    }
    .profile-name {
      line-height: getResponsiveSize(106px, ($iphone6-width / $original-width));
      font-size: getResponsiveSize(30px, ($iphone6-width / $original-width));
    }
  }
  .message {
    p {
      font-size: getResponsiveSize(24px, ($iphone6-width / $original-width));
      height: getResponsiveSize(140px, ($iphone6-width / $original-width));
    }
    .more-btn {
      width: getResponsiveSize(171px, ($iphone6-width / $original-width));
      height: getResponsiveSize(55px, ($iphone6-width / $original-width));
      right: getResponsiveSize(50px, ($iphone6-width / $original-width));
    }
  }
}

@media (min-width: $iphone6plus-width)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {
  #container {
    width: $iphone6plus-width;
  }
  #content-title {
    height: getResponsiveSize(420px, ($iphone6plus-width / $original-width));
  }
  .profile {
    height: getResponsiveSize(106px, ($iphone6plus-width / $original-width));
    line-height: getResponsiveSize(106px, ($iphone6plus-width / $original-width));
    padding-left: getResponsiveSize(40px, ($iphone6plus-width / $original-width));
    .profile-photo {
      width: getResponsiveSize(106px, ($iphone6plus-width / $original-width));
      height: getResponsiveSize(106px, ($iphone6plus-width / $original-width));
    }
    .profile-name {
      line-height: getResponsiveSize(106px, ($iphone6plus-width / $original-width));
      font-size: getResponsiveSize(30px, ($iphone6plus-width / $original-width));
    }
  }
  .message {
    p {
      font-size: getResponsiveSize(24px, ($iphone6plus-width / $original-width));
      height: getResponsiveSize(140px, ($iphone6plus-width / $original-width));
    }
    .more-btn {
      width: getResponsiveSize(171px, ($iphone6plus-width / $original-width));
      height: getResponsiveSize(55px, ($iphone6plus-width / $original-width));
      right: getResponsiveSize(50px, ($iphone6plus-width / $original-width));
    }
  }
}

@media (min-width: $iphone4-height)
  and (max-height: $iphone4-height)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {
  #container {
    width: $iphone4-height;
  }
  #content-title {
    height: getResponsiveSize(420px, ($iphone4-height / $original-width));
  }
  .profile {
    height: getResponsiveSize(106px, ($iphone4-height / $original-width));
    line-height: getResponsiveSize(106px, ($iphone4-height / $original-width));
    padding-left: getResponsiveSize(40px, ($iphone4-height / $original-width));
    .profile-photo {
      width: getResponsiveSize(106px, ($iphone4-height / $original-width));
      height: getResponsiveSize(106px, ($iphone4-height / $original-width));
    }
    .profile-name {
      line-height: getResponsiveSize(106px, ($iphone4-height / $original-width));
      font-size: getResponsiveSize(30px, ($iphone4-height / $original-width));
    }
  }
  .message {
    p {
      font-size: getResponsiveSize(24px, ($iphone4-height / $original-width));
      height: getResponsiveSize(140px, ($iphone4-height / $original-width));
    }
    .more-btn {
      width: getResponsiveSize(171px, ($iphone4-height / $original-width));
      height: getResponsiveSize(55px, ($iphone4-height / $original-width));
      right: getResponsiveSize(50px, ($iphone4-height / $original-width));
    }
  }
}

@media (min-width: $iphone5-height)
  and (max-height: $iphone5-height)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {
  #container {
    width: $iphone5-height;
  }
  #content-title {
    height: getResponsiveSize(420px, ($iphone5-height / $original-width));
  }
  .profile {
    height: getResponsiveSize(106px, ($iphone5-height / $original-width));
    line-height: getResponsiveSize(106px, ($iphone5-height / $original-width));
    padding-left: getResponsiveSize(40px, ($iphone5-height / $original-width));
    .profile-photo {
      width: getResponsiveSize(106px, ($iphone5-height / $original-width));
      height: getResponsiveSize(106px, ($iphone5-height / $original-width));
    }
    .profile-name {
      line-height: getResponsiveSize(106px, ($iphone5-height / $original-width));
      font-size: getResponsiveSize(30px, ($iphone5-height / $original-width));
    }
  }
  .message {
    p {
      font-size: getResponsiveSize(24px, ($iphone5-height / $original-width));
      height: getResponsiveSize(140px, ($iphone5-height / $original-width));
    }
    .more-btn {
      width: getResponsiveSize(171px, ($iphone5-height / $original-width));
      height: getResponsiveSize(55px, ($iphone5-height / $original-width));
      right: getResponsiveSize(50px, ($iphone5-height / $original-width));
    }
  }
}

@media (min-width: $iphone6-height)
  and (max-width: $iphone6-height)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {
  #container {
    width: $iphone6-height;
  }
  #header-bar {
    min-width: $iphone6-height;
  }
  #content-title {
    height: getResponsiveSize(420px, ($iphone6-height / $original-width));
  }
  .profile {
    height: getResponsiveSize(106px, ($iphone6-height / $original-width));
    line-height: getResponsiveSize(106px, ($iphone6-height / $original-width));
    padding-left: getResponsiveSize(40px, ($iphone6-height / $original-width));
    .profile-photo {
      width: getResponsiveSize(106px, ($iphone6-height / $original-width));
      height: getResponsiveSize(106px, ($iphone6-height / $original-width));
    }
    .profile-name {
      line-height: getResponsiveSize(106px, ($iphone6-height / $original-width));
      font-size: getResponsiveSize(30px, ($iphone6-height / $original-width));
    }
  }
  .message {
    p {
      font-size: getResponsiveSize(24px, ($iphone6-height / $original-width));
      height: getResponsiveSize(140px, ($iphone6-height / $original-width));
    }
    .more-btn {
      width: getResponsiveSize(171px, ($iphone6-height / $original-width));
      height: getResponsiveSize(55px, ($iphone6-height / $original-width));
      right: getResponsiveSize(50px, ($iphone6-height / $original-width));
    }
  }
}

@media (min-width: $iphone6plus-height)
  and (max-width: $iphone6plus-height)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {
  #container {
    width: $iphone6plus-height;
  }
  #header-bar {
    min-width: $iphone6plus-height;
  }
  #content-title {
    height: getResponsiveSize(420px, ($iphone6plus-height / $original-width));
  }
  .profile {
    height: getResponsiveSize(106px, ($iphone6plus-height / $original-width));
    line-height: getResponsiveSize(106px, ($iphone6plus-height / $original-width));
    padding-left: getResponsiveSize(40px, ($iphone6plus-height / $original-width));
    .profile-photo {
      width: getResponsiveSize(106px, ($iphone6plus-height / $original-width));
      height: getResponsiveSize(106px, ($iphone6plus-height / $original-width));
    }
    .profile-name {
      line-height: getResponsiveSize(106px, ($iphone6plus-height / $original-width));
      font-size: getResponsiveSize(30px, ($iphone6plus-height / $original-width));
    }
  }
  .message {
    p {
      font-size: getResponsiveSize(24px, ($iphone6plus-height / $original-width));
      height: getResponsiveSize(140px, ($iphone6plus-height / $original-width));
    }
    .more-btn {
      width: getResponsiveSize(171px, ($iphone6plus-height / $original-width));
      height: getResponsiveSize(55px, ($iphone6plus-height / $original-width));
      right: getResponsiveSize(50px, ($iphone6plus-height / $original-width));
    }
  }
}